.root{
    --main-font: 'Century Gothic', sans-serif;
}


body{
    background-image: url('cloud_background.jpg');;
    background-repeat: no-repeat;
   
}

.layout{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

h1{
    background-color: rgb(195, 195, 195);
    border: beige groove 15px;
    border-radius: 30px;
    width: 100%;
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 40px;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.3);
}

.Container{
    grid-column: 1;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, auto);
    width: 200px;
    height: 500px;
    background-color:burlywood;
    border-radius: 50px;
    border: groove, 20px, purple
}

.menu ul{
    padding: 12px;
    display:flex;
    flex-direction: column;
    text-align: center;
    margin:auto;
    gap:100px;
}

.menu ul li{
    list-style: none;
    margin: 0 20px;
}

.menu ul li button{
    font-family: 'Century Gothic', sans-serif;
    color: black;
    border: green 5px solid;
    border-radius: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.3);

    transition: all 0.3s ease-in-out;
}

.menu ul li button:hover{
    background-color: lightgreen;
    color: rgb(255, 255, 255);
    transform: translate(0px, -2.5px);
}

.menu ul li button:active{
    background-color: rgb(65, 120, 65);
    color: rgb(0, 0, 0);
}   


.mainRoom{
    grid-column: 2;
    background-color: blueviolet;
    gap: 20px;
    width: 300vw;
    height: 500px;
    border: groove, 20px, rgb(224, 171, 48);
    border-radius: 50px;
    position: relative;
}

.clock{
    position: absolute;
    left:10px;
    top:10px;
    background: rgb(195, 195, 195);
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: groove, 10px, black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.clock::before{
    content: ' ';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    z-index:1000;
}

.clock span{
    position: absolute;
    text-align: center;
    transform: rotate(calc(30deg * var(--i))) 
                translateY(-60px)
                 rotate(calc(-30deg * var(--i)));
}

.clock span b{
    font-family: 'Century Gothic', sans-serif;
    font-style: italic;
}

.hour,
.minute,
.second{
    position: absolute;
}

.hour, .hr{
    width: 160px;
    height: 160px;
}

.minute, .min{
    width: 190px;
    height: 190px;
}

.second, .sec{
    width: 230px;
    height: 230px;
}

.hr, .min, .sec{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr { z-index: 1;}
.min { z-index: 2;}
.sec { z-index: 3;}


.hr::before{
    content: '';
    width: 5px;
    height: 50px;
    background: linear-gradient(to top,rgb(24, 149, 61), rgb(59, 148, 0));
    position: absolute;
    border-radius: 6px 6px 0 0;
    top: 30px;
}

.min::before{
    content: '';
    width: 3px;
    height: 65px;
    background: linear-gradient(to top, rgb(146, 146, 169), rgb(33, 33, 255));
    position: absolute;
    border-radius: 5px 5px 0 0;
    top: 20px;
}

.sec::before{
    content: '';
    width: 1.5px;
    height: 80px;
    background: linear-gradient(to top, rgb(252, 80, 80), rgb(255, 0, 0));
    position: absolute;
    border-radius: 4px 4px 0 0;
    top: 50px;
}
